.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 646px;
  height: 748px;
  top: -200px;
  left: -213px;
  background: #fff;
}
.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.heading {
  color: #cd264f;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.heading-line {
  width: 93.996px;
  height: 0.904px;
  background: #d9d9d9;
}
.check-out-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 341px;
  height: 48px;
}
.free-shipping-text {
  color: #cd264f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product-text {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 341px;
  height: 48px;
  border-radius: 4px 4px 4px 0px;
  background: #cd264f;
}
